<%# <div class="navbar-container"> %>
  <nav class="navbar">
    <a href="/">Home</a>

    <% if user_signed_in? %>
      <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: 'btn' %>
    <% else %>
      <%= link_to "Login", new_user_session_path, class: "nav-link" %>
    <% end %>
  </nav>
<%# </div> %>
