<div class="container mt-4 mb-4">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search your tool" aria-label="Search" aria-describedby="searchButton">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="searchButton">Search</button>
        </div>
    </div>
</div>

<div class="jumbotron banner text-white d-flex flex-column justify-content-between mb-4 mx-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://as2.ftcdn.net/v2/jpg/03/00/98/07/1000_F_300980743_5YrcmC0fWo7Ts2I2Sh2YjvybCcPAp0ak.jpg); background-size: cover; height: 600px; padding: 20px;">
    <div class="container py-5 text-center">
        <h1 class="display-1 mb-4">You need a tool? Here you can find it!</h1>
    </div>
    <div class="container py-5 text-center">
        <h3 class="display-6 lead mb-4">Sharing is caring, find the tool you need and borrow it!</h3>
    </div>
    <div class="container py-5 text-center">
        <a class="btn btn-outline-light btn-lg rounded-pill px-4" href="/tools">Browse tools</a>
    </div>
</div>

<div class="container mt-4">
    <h1 class="text-center font-weight-bold">Recently added</h1>
</div>

<div class="container mt-4">
    <h2>List of Tools</h2>
    <ul class="list-group">
        <li class="list-group-item">Tool 1</li>
        <li class="list-group-item">Tool 2</li>
        <li class="list-group-item">Tool 3</li>
        <li class="list-group-item">Tool 4</li>
        <li class="list-group-item">Tool 5</li>
        <li class="list-group-item">Tool 6</li>
        <li class="list-group-item">Tool 7</li>
        <li class="list-group-item">Tool 8</li>
        <li class="list-group-item">Tool 9</li>
    </ul>
</div>
