// Style for the tool & owner show page

.big-card {
  margin: 20px;
  border-radius: 15px;
  border-width: 4px;
  background-color: #E9F5DB;
}

.tool-picture {
  width: 400px;
  height: 600px;
}


.user-profile {
  height: 200px;
  border-radius: 50%;
}

.product_card {
    padding: 15px; /* Add padding to the cards if desired */
    border-radius: 8px; /* Add rounded corners to the cards if desired */
  }

  .big_cards.btn {
    background-color: #B5C99A;
  }
