.big-card {
  margin: 20px;
  border-radius: 15px;
  background-color: #E9F5DB;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 3px solid rgba(0, 0, 0, 0.5);
}
.card-img-top {
  max-height: 900px;
  height: auto;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 3px solid rgba(0, 0, 0, 0.5);
}
.user-profile {
  max-width: 100%;
  height: auto;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 3px solid rgba(0, 0, 0, 0.5);
}
div.card-body p {
  font-size: 20px;
}
div.card-body h3 {
  font-size: 25px;
}
div.card-body h2 {
  font-size: 35px;
}
.card {
  max-width: 100%;
  height: auto;
}
#title-page {
  font-size: 40px;
  font-family: 'Graduate';
}
.card-title {
  font-size: 25px;
}
h2, h3 {
  font-family: 'Graduate', sans-serif;
}
p {
  font-family: 'Poiret One';
  font-weight: 600;
}
#h2-banner, h1{
  font-family: 'Tourney';
}

#form-color{
  background-color: #9eaf87;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 2px solid rgba(0, 0, 0, 0.5);
}
