// Style for the tool & owner show page

.big-card {
  margin: 20px;
  border-radius: 15px;
  border-width: 4px;
}

.tool-picture {
  width: 400px;
  height: 600px;
}


.user-profile {
  height: 200px;
  border-radius: 50%;
}
