#browse-tools-btn {
  background-color: #718355;
  border-color: #718355;
  padding: 15px 40px;
  color: #fff;
  text-decoration: none;
  font-family: 'Graduate', sans-serif;
}

#browse-tools-btn:hover {
  background-color: #B5C99A !important; /* Change this color to your preferred hover color */
  border-color: #718355 !important; /* Change this color to your preferred hover color */
}
