.delete-button {
  background-color: #dc3545; /* Bootstrap's danger color */
  color: #fff; /* Text color */
  /* border: none; */
  padding: 4px 20px; /* Adjust vertical and horizontal padding */
  border-radius: 20px; /* Make it a pill shape */
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 1px solid #ad2230;
}

.delete-button:hover {
  background-color: #ad2230; /* Darker color on hover */
 /*  border-color: black !important; */
  border: 1px solid #dc3545;
}
