footer {
  background-color: #718355;
  padding: 40px;
  text-align: center;
  width: 100%;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-column {
  flex: 1;
  text-align: center;
  padding: 0 20px;
  margin-bottom: 20px; /* Add margin for spacing between columns */
}

.footer-column h4 {
  color: #fff;
  margin-bottom: 15px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column li {
  margin-bottom: 10px;
}

.footer-column a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-column a:hover {
  color: #007bff;
}

.footer-social a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  margin: 10px 15px 0; /* Add margin-top to move the icons down */
  padding: 5px; /* Add padding to the icons */
  transition: color 0.3s ease;
}

.footer-social{
  padding-top: 15px;
}
