.navbar {
  margin: 0;
  background-color: #f8f9fa; /* Light background color */
  padding: 10px 20px; /* Adjust padding as needed */
  display: flex;
  justify-content: space-between;
  a {
    text-decoration: none;
    color: rgb(62, 61, 61); /* Text color */
    margin: 0 10px; /* Adjust margins as needed */
    &:hover {
      color: white; /* Hover color */
    }
  }
  .btn {
    background-color: rgb(62, 61, 61); /* Button background color */
    color: #fff; /* Button text color */
    margin: 0 10px; /* Adjust margins as needed */
    border-radius: 20px;
    &:hover {
      background-color: rgb(168, 165, 165); /* Hover background color */
    }
  }
}
