.navbar {
  margin: 0;
  background-color: #718355; /* Light background color */
  padding: 10px 20px; /* Adjust padding as needed */
  display: flex;
  justify-content: space-between;
  a {
    text-decoration: none;
    color: rgb(62, 61, 61); /* Text color */
    margin: 0 10px; /* Adjust margins as needed */
    &:hover {
      color: white; /* Hover color */
    }
  }
  .btn {
    background-color: #B5C99A; /* Button background color */
    color: #fff; /* Button text color */
    margin: 0 10px; /* Adjust margins as needed */
    border-radius: 20px;
    &:hover {
      background-color: #718355; /* Hover background color */
      border-color: #B5C99A;
    }
  }
  .logo-btn {
    width: 100px
    height auto;
  }
}
