/* Styles for the tool form */
.tool-form {
  max-width: 400px;
  margin: 0 auto;
}

/* Styles for form labels */
.field label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Styles for form inputs */
.field input[type="text"],
.field textarea,
.field input[type="file"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Styles for checkbox */
.field input[type="checkbox"] {
  margin-bottom: 10px;
}

/* Style for the submit button */
.actions input[type="submit"] {
  display: block;
  width: 30%;
  padding: 10px;
  margin-top: 10px;
  background-color: #718355;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.actions input[type="submit"]:hover {
  background-color: #2980b9; /* Changer la couleur au survol */
}
