/* Styles for the signup form */
.signup-form {
  max-width: 400px;
  margin: 0 auto;
}

/* Styles for form labels */
.form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Styles for form inputs */
.form-inputs input[type="text"],
.form-inputs input[type="email"],
.form-inputs input[type="password"],
.form-inputs input[type="file"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Style for the submit button */
.custom-button {
  display: block;
  width: 30%;
  padding: 10px;
  margin-top: 10px;
  background-color: #718355;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-submit:hover {
  background-color: #2980b9;
}

// .mapboxgl-ctrl-geocoder {
//   max-width: none;
//   width: 100%;
//   border: 1px solid lightgrey;
//   box-shadow: none;
//   background-color: transparent;
// }
