/* Style for the card container */
.container {
  margin-top: 4rem;
}

/* Style for each card */
.small-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

/* Add some styling for the card content */
.card-body2 {
  padding: 20px;

  h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 8px;
  }

  .availability {
    font-weight: bold;
  }
}

/* Optionally, you can add more styling based on your design preferences */


/* Style for the images */
.tool-image {
  width: 100%; /* Set a fixed width for the container */
  height: 200px; /* Set a fixed height for the container */
}
