.submit-btn {
  background-color: #2e8b57; /* Darker green */
  padding: 10px 20px; /* Adjust padding as needed */
  border: none; /* Remove border */
  border-radius: 50px !important; /* Add rounded corners */
  cursor: pointer; /* Add pointer cursor on hover */
  transition: background-color 0.3s ease; /* Smooth transition effect */
  border-color: #3eb37e !important;
}

.submit-btn:hover {
  background-color: #3eb37e;
  border-color: #2e8b57 !important;
}

.btn-dark {
  background-color: #2e8b57 !important;
  border-color: #3eb37e !important;
}

.btn-dark:hover {
  background-color: #3eb37e !important;
  border-color: #2e8b57 !important;
}

.submit-btn,
.btn-dark {
  font-family: 'Graduate', sans-serif;
}

.create_button {
  border-radius: 50px !important;
  padding: 5px 10px;
  width: 50% !important;
  border: solid 1px !important;
  background-color: #2e8b57 !important;
  border-color: #3eb37e !important;
}

.create_button:hover {
  background-color: #3eb37e !important;
  border-color: #2e8b57 !important;
}

.chat-send-btn {
  border-radius: 50px !important;
  padding: 5px 10px;
  border: solid 1px !important;
  background-color: #2e8b57 !important;
  border-color: #3eb37e !important;
}

.chat-send-btn:hover {
  background-color: #3eb37e !important;
  border-color: #2e8b57 !important;
}
